.editor-modal {
	.modal-body {
		font-size: 0.6em;
	}

	input[type="text"], input[type="url"],
	input[type="text"]:active, input[type="url"]:active,
	textarea, textarea:active {
		border:none;
	}

	table {
		width: 100%;
		td {
			padding: 4px;
			vertical-align: top;

			>div {
				min-width:10px;
			  width: 200px;
			  max-width: 200px;
			  word-wrap: break-word;
			  overflow:visible;
			}

			.bootstrap-tagsinput .tag.label-info {
			  background-color: black;
			  word-wrap: break-word;
			}

			input[name="tags"] {
				max-width: 100%;
				overflow: hidden;		
			}
		}
	}
}
