header
	.container-fluid
		nav.header-menu
			-if(user)
				span=user.email.split("@")[0]
				a.editor_button(bind-click="openEditorModal")
					i.fa.fa-pencil
				a.logout_button(bind-click="logout")
					i.fa.fa-sign-out
			-else
				a.login_button(bind-click="openLoginModal")
					i.fa.fa-sign-in

.player-container

-if(user)
	.editor
-else 
	.login
