doctype html
html(lang="en")
  head
    title=config.title

    link(rel="stylesheet",href="/js/libs/bootstrap/dist/css/bootstrap.css")

    <!-- Optional theme -->
    link(rel="stylesheet",href="/js/libs/bootstrap/dist/css/bootstrap-theme.min.css")
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    link(rel='stylesheet', href='/js/libs/video-js/video-js.css')
    link(rel='stylesheet', href='/css/main.css')

    <link href='http://fonts.googleapis.com/css?family=Nobile:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <script data-main="js/main" src="/js/libs/requirejs/require.js"></script>
  body
    block body
