div.login-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true", role="form")
  .modal-dialog.modal-sm
    .modal-content
      .modal-header Register | Login
        button.close(type="button", data-dismiss="modal")
          span(aria-hidden="true") &times;
          span.sr-only Close
        .modal-body
          div.form-group.email-group
            label(for="email") Email
            input#email.form-control.has-feedback(type="email",bind-val="email",placeholder="Email")
          div.form-group.password-group
            label(for="password") Password
            input#password.form-control(type="password",bind-val="password",placeholder="Password")
          div.form-group
            input#remember-me.form-control(type="checkbox",bind-checked="remember")
            label(for="remember-me") Remember Me

          div.error(style="display:none;")

      .modal-footer
        a(href="javascript:;") iForgot
        button.btn.btn-default(type="button", data-dismiss="modal") Cancel
        button.btn.btn-primary(type="submit") Let Me In
